@model Vidly.Models.Movie

<div>
    <h1>
        <strong> @Model.Name</strong>
    </h1>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
